@model int[]
<div id="pagebar-container">
	<div id="pagenumbers">
		@if (Model[0] > 1)
		{
			for (int page = 1; page <= Model[0]; page++)
			{
				<div class="page left">
					@if (Model[1] == page)
					{
						@page
					}
					else
					{
						<a href="@(ViewContext.HttpContext.Request.Url.AppendQueryString("page",page))">@page</a>
					}
				</div>
			}
		}
	</div>
</div>