<div id="query-container" style="font-size:0.7em">
<a href="javascript:$('#query').toggle()">Show query</a>
	<div id="query">
		<pre>@Html.Raw(HttpContext.Current.Items["Query"].ToString())</pre>
	</div>
</div>