@model List<string>

@{
    ViewBag.Title = "Select a project";
}
<div class="list">
		<h2>Select a project</h2>

		@foreach (string projectName in Model)
		{
			if (projectName != UserContext.Current.CurrentProject.Name)
			{
				@Html.ActionLink(projectName, "SetCurrentProject", "Home", new { id = projectName.ToBase64() }, null) <br />
			}
			else
			{
				<span class="selected">@UserContext.Current.CurrentProject.Name</span><br />
			}		
		}
</div>