body	{ font-family: Myriad Web Pro,helvetica;margin:0;color:#000000;}
h1,h2,h3,h4,h4 { font-family: Myriad Pro,helvetica; }
a			{ color:#333333; }
a:hover		{ color:#babfb5; }

.left		{ float:left; }
.right		{ float:right; }
.darkbg		{ background-color:#babfb5; }
.midbg		{ background-color:#cbcfbe; }
.lightbg	 
{
	background-color: #FFE;
	border: 1px solid gray;
	border-bottom-left-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
	border-top-left-radius: 4px 4px;
	border-top-right-radius: 4px 4px;
	margin: 5px 0px;
	padding: 5px;	
}

.dark-text		{ color: #646661; }
.middark-text	{ color:#babfb5; }
.mid-text		{ color:#cbcfbe; }
.light-text		{ color:#e7eee1; }
.white-text		{ color:#FFFFFF; }

.biggest	{ font-size:1.5em; }
.bigger		{ font-size:1.2em; }
.big		{ font-size:1.1em; }
.normal		{ font-size:1em; }
.small		{ font-size:0.9em; }
.smaller	{ font-size:0.8em; }
.smallest	{ font-size:0.7em; }
.bold		{ font-weight:bold; }
.italic		{ font-style:italic; }
.dimmed		{ opacity: 0.5; }

#header	
{
	background-color:#42622a;
	width:100%;
	height:32px;
	color:White;
	font-family: Myriad Web Pro,helvetica;
	font-size:0.8em;
}
#header div { margin:0 10px;color:White;height:32px;line-height:33px;margin-right:20px;}
#header	a { color:White;text-decoration:none; }
#header	a:hover { text-decoration:underline; }
#header input { font-family:Arial,helvetica;font-size:0.9em;}

#export-buttons { margin: 10px 20px 0px 0px;width:100%;text-align:right;}

#container		{ margin:20px; }
#leftcontent	{ width:65%;margin-right:20px;}
#rightcontent	{ width:30%;}

#project-name { font-family: Myriad Pro,helvetica;font-size:36pt;}
#iteration-name { font-family: Myriad Pro,helvetica;font-size:14pt;color:#646661;margin-left:3px;}
#seperator		{border-bottom:1px solid #7e8f72;margin-bottom:50px;}

#accordian { margin-top:10px;border: 1px solid #7e8f72;}
#accordian .padding { padding:5px;margin:10px 5px 5px 10px; }
#accordian .headertitle { height:32px;line-height:35px; }

.errorbox
{
	background-color: #fff8af;
	border: 1px solid #7e8f72;
	color: #333333;
	font-family:Calibri,helvetica;
	font-size:1em;
	width:99%;
	padding:10px;
	-moz-border-radius: 4px;
	border-radius:4px;
	margin-bottom:20px;
}

.errorbox h1 { font-size:1em;}

.searchresults { color:Green;font-size:1.1em; }
.searchbox { width:400px; }
#searchagain-box {margin-bottom:20px;}


/* Color scheme:

#42622a - green header bg
#7e8f72 - borders
#babfb5 - medium dark header bg
#e7eee1 - light header bg
#ab0111 - red text
#f59c00 - orange text
#48a503 - green text
#646661 - dark grey text

*/