/* ===== Edit item ===== */
#edit-pagename		{ font-size:2em; margin:0px; }
#edit-container		{ border:solid 1px #7e8f72;padding: 10px; }

#edit-title input
{
	border: 1px solid #7e8f72;
	color: #333333;
	font-family:Calibri,helvetica;
	font-size:2em;
	width:99%;
	-moz-border-radius: 4px;
	border-radius:4px;
	padding:5px;
}

.edit-options
{
	width:99%;
	margin:5px 0px;
	padding:5px;
	border: 1px solid #7e8f72;
	-moz-border-radius: 4px;
	border-radius:4px;
}
.edit-field			{ float:left;font-size:0.9em;font-family:Myriad Web Pro,helvetica;width:225px; }
.edit-field .label	{ float:left;line-height:40px;width:75px; }
.edit-field .value	{ float:left;width:150px; }
.edit-field .value select	{ margin-top:10px; border: 1px solid #7e8f72;width:130px; }

.edit-field-long	{ float:left;font-size:0.9em;font-family:Myriad Web Pro,helvetica;width:225px; }
.edit-field-long .label	{ float:left;width:160px;line-height:25px; }
.edit-field-long .value	{ float:left;width:65px; }

#edit-description textarea
{
	border:1px solid #7e8f72;
	color:#000;
	font-family:Myriad Web Pro,helvetica;
	width:99%;
	height:150px;
	-moz-border-radius: 4px;
	border-radius:4px;
	padding:5px;
}
.edit-error	{ background-color: #faf389;border: solid 1px #FF0000;}

#edit-buttons		{ text-align:right; }
#edit-buttons input	{ font-family:Arial,helvetica;font-size:1.2em;margin-top:5px;width:100px; }  
.twochar-textbox { width: 40px;}