body		{ font-family: Arial,helvetica;margin:0;color:#000000;}

h2			{ font-weight:normal; }
a			{ color:#1173a6; }
a:hover		{ color:#babfb5; }
a:visted	{ color:#1173a6; }
pre,code	{ background-color:#EEE; font-family:Consolas, Courier New, monospace, serif; }
blockquote	{ margin: 10px; padding: 5px; background-color: #EFEFEF; border:1px solid #CCC; }

.biggest	{ font-size:1.5em; }
.bigger		{ font-size:1.2em; }
.big		{ font-size:1.1em; }
.bold		{ font-weight:bold; }
.button		{ height:30px;margin-top:5px;width:100px; }  
.clear		{ clear:both; }
.dimmed		{ opacity:0.5; }
.hidden		{ display:none; }
.italic		{ font-style:italic; }
.left		{ float:left; }
.right		{ float:right; }
.rounded	{ -moz-border-radius:5px;border-radius:5px; }
.small		{ font-size:0.9em; }
.smaller	{ font-size:0.8em; }
.smallest	{ font-size:0.7em; }
.ui-button	{ min-width:100px !important;margin:2px; }

/* Header bars */
.header			{ font-family:Myriad Web Pro,helvetica;width:100%;height:32px;color:#FFF;font-size:0.8em; }
.header div		{ margin:0 5px;color:White;height:32px;line-height:33px;margin-right:20px;padding-left:15px; }
.header	a		{ color:White; }
.header	a:hover	{ color:#AAA; }
.header input	{ font-family:Arial,helvetica;font-size:0.9em; }
.header select	{ border:1px solid #848f75;font-size:0.9em;background-color:#42622a;color:#FFF;margin:2px;padding:1px;border-radius:1px; }
#header-first	{ background-color:#42622a; }
#header-second	{ background-color:#000000; }

#rightbox		{ margin-left:10px;text-align:center;border:1px solid #CCC;padding:10px; }

/* Paging bar */
#pagebar-container			{ width:75%; }
#pagenumbers				{ float:left; }
#pagesize					{ float:left; }
.pagesize-label				{ margin-right:5px;padding:5px;}
.pagesize					{ margin-right:5px;padding:5px; }
.page						{ margin-right:5px;padding:5px;border:1px solid #CCC;background-color:#F6F6F6;font-size:0.7em; }

/* Container */
#main-container		{ margin:20px; }
#project-name		{ font-size:1.5em;margin:20px 0 0px 0px;display:inline; }
#areaiteration-name	{ font-size:1.3em;margin:0; }
.filter-radiobox	{ }

/* Search */
.searchresults		{ color:Green;font-size:1.1em; }
.searchbox			{ width:400px; }
#searchagain-box	{ margin-bottom:20px; }
#search-help		{ font-size:8pt;margin-bottom:5px; }
#search-help pre	{ margin:0px;padding:5px;border:1px solid #CCC;background-color:#EEE; }
#search-help div	{ display:none;width:500px;border:1px solid #BBB;padding:5px;border-radius:3px;margin-top:5px; }
#search-help ul		{ margin:15px;padding:5px;list-style-type:square; }

/* Filter bar for tables */
#list-table #title	{ font-size:0.8em;width:90%; }
#assignedTo			{ font-size:0.8em;width:60px; }
#startDate			{ font-size:0.8em;width:60px; }
#endDate			{ font-size:0.8em;width:60px; }
#status				{ font-size:0.8em;width:50px; }

/* Tooltips for the filter */
#tooltip	{ font-size:0.7em; position: absolute; z-index: 3000; border: 1px solid #EEE; background-color: #424242;color:#FFF; padding: 5px;opacity: 0.85; }
#tooltip h3, #tooltip div { margin: 0; }

.priority1	{ background-color:#ffc3bb; }
.priority2	{ background-color:#f4f9b7; }
.priority3	{ background-color:#a7b6a1; }