body		{ font-family: Arial,helvetica;margin:0;color:#000000;}

h2			{ font-weight:normal; }
a			{ color:#1173a6; }
a:hover		{ color:#babfb5; }
a:visted	{ color:#1173a6; }

.biggest	{ font-size:1.5em; }
.bigger		{ font-size:1.2em; }
.big		{ font-size:1.1em; }
.bold		{ font-weight:bold; }
.clear		{ clear:both; }
.dimmed		{ opacity:0.5; }
.italic		{ font-style:italic; }
.left		{ float:left; }
.right		{ float:right; }
.small		{ font-size:0.9em; }
.smaller	{ font-size:0.8em; }
.smallest	{ font-size:0.7em; }

#header			{ display:none; }
#popoutmenu		{ display:none; }

#main-container		{ margin:20px; }

#project-name		{ font-size:1.5em;margin:20px 0 0px 0px;display:inline; }
#areaiteration-name	{ font-size:1.3em;margin:0; }

.task { background-image: url('../Images/stickynote-large.png');width:185px;height:188px;padding:20px;float:left; }

.priority1	{ background-color:#ffc3bb; }
.priority2	{ background-color:#f4f9b7; }
.priority3	{ background-color:#a7b6a1; }

/* List items */
#list-table					{ padding:0;border-collapse:collapse;font-family:Arial;font-size:0.8em;width:90%; }
#list-table-header			{ background-color:#f6f6f6;color:#282828;border:1px solid #cdcdcd; }
#list-table-header th div	{ padding:2px;text-align:left;margin:5px;border-right:1px solid #cdcdcd; }
#list-table-row				{ border-bottom:1px dashed #cdcdcd; }
#list-table-row tr td		{ width:12%; }
#list-table-row td div		{ padding:2px;text-align:left;margin:5px;border-right:1px solid #cdcdcd; }
.list-table-noborder		{ border:0px !important; }

/* View an item */
#item-container		{ padding:5px;border:1px solid #e5e5e5;margin:20px 0;font-size:1em;width:80%;background-color:#FAFAFA; }
#item-header		{ padding:5px;border-bottom:1px dotted #AAA;}
#item-id			{ color:#737373;padding-right:10px; }
#item-description	{ margin:15px 0px;padding:5px;min-height:200px;font-size:0.8em; }
#item-details		{ padding:10px 5px 5px 5px;font-size:0.8em;border-top:1px dotted #CCC; }
#item-menucontainer	{ color:#0391da;text-align:right;width:100px;font-size:0.8em; }
#item-arrowimg		{ margin:0;padding:2px; }
#item-menu			{ display:none;border-top:1px dotted #AAA;padding:5px 0px;margin:0; }

/* Legacy, changing soon */
.errorbox		{ background-color: #fff8af;border: 1px solid #7e8f72;color: #333333;font-family:Calibri,helvetica;font-size:1em;width:99%;padding:10px;-moz-border-radius: 4px;border-radius:4px;margin-bottom:20px; }
.errorbox h1	{ font-size:1em; }

.searchresults	{ color:Green;font-size:1.1em; }
.searchbox		{ width:400px; }
#searchagain-box{ margin-bottom:20px; }

/* Edit item */
#edit-container				{ width:80%;margin-top:10px;font-family:Arial,helvetica;font-size:0.8em; }

#edit-title input			{ border: 1px solid #cdcdcd;color: #333333;font-weight:bold;width:99%;padding:5px;}
#edit-options				{ border: 1px solid #cdcdcd;width:99%;margin:5px 0px;padding:5px;}}
.edit-field					{ width:240px; }
.edit-field .label			{ line-height:40px;width:90px; }
.edit-field .value			{ width:150px; }
.edit-field .value select	{ margin-top:10px; border: 1px solid #7e8f72;width:130px; }

.edit-field-long			{ width:225px; }
.edit-field-long .label		{ width:160px;line-height:25px; }
.edit-field-long .value		{ width:65px; }

#edit-description textarea	{ font-family:Arial,helvetica;font-size:1em;border:1px solid #cdcdcd;color:#000;width:99%;min-height:150px;padding:5px;}}
.edit-error					{ background-color: #faf389;border: solid 1px #FF0000;}

#edit-buttons				{ text-align:right; }
#edit-buttons input			{ height:30px;margin-top:5px;width:100px; }  
.twochar-textbox			{ width: 40px;}