/* ===== View item =====  */
#view-pagename	{ font-size:2em; margin:0px; }
#view-container	{ border:solid 1px #7e8f72;background-color: #FFF; }
#view-inner		{ padding: 10px; }
#view-container .title			{ font-family:Myriad Web Pro,helvetica;font-size: 2em;display:inline;margin-bottom:10px; }
#view-container .extradetails	{ margin:10px 0px;}
#view-container .description	{ border-top: 1px solid #7e8f72;border-bottom:1px solid #7e8f72;color:#3f3f3f;}

#view-favouritebar	{ margin-top:10px; }  
#view-favouritebar .info	{ float:left; width:80%; font-size:0.8em;padding-top:3px;margin-bottom:10px; }
#view-favouritebar .button	{ float:right;line-height:40px; }
    
#view-actionbar		{ padding:10px; }   
#view-actionbar a	{ font-size:0.9em;font-weight:bold; }
#view-actionbar a:hover	{ color:#000000; }

/* ===== Tasks ===== */
#tasks-container {}
.task h1		{ font-size:1.2em; }
.task a			{ text-decoration:none; }
.task a:hover	{ color:#ABABAB; }
.task h2		{ font-size:1em; }