<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="spruce" type="Spruce.Core.SpruceSection,Spruce.Core"/>
	</configSections>

	<!-- Change this to your TFS server and default project name -->
	<spruce tfsServer="http://localhost:8080/tfs" defaultController="Dashboard" defaultProjectName="SPRUCE" siteUrl="http://localhost/spruce.site"/>

	<appSettings>
		<!-- This tells TFS where to store its cache items. This is required when the client tools are not installed on the machine. 
			 It's best to set this to the {Path to your WebRoot}\App_Data\TFSCache
		-->
		<add key="WorkItemTrackingCacheRoot" value="C:\inetpub\temp\TFSCache\"/>
	</appSettings>
	
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>

		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers"/>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Web.WebPages"/>
				
				<add namespace="System.Linq"/>
				<add namespace="System.Collections.Generic"/>
				<add namespace="Spruce.Core"/>	
			</namespaces>
		</pages>

		<identity impersonate="true"/>
		<customErrors mode="Off"/>
		
		<sessionState timeout="720"/>
		
		<!-- Allow HTML on edit pages-->
		<httpRuntime requestValidationMode="2.0"/>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="3.0.0.0-3.0.0.1" newVersion="3.0.0.1"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>

