Spruce.Core/obj/Release/
Spruce.Templates.MSAgile/bin/
Spruce.Templates.MSAgile/obj/
packages/
Spruce.Core/bin/
Spruce.Site/bin/
Spruce.Site/obj/
Spruce.Core/obj/
Spruce.Core/obj/
Spruce.Core/obj/
Spruce.Site/App_Data/
