body { background-image: url('/Spruce/Assets/Images/bg.png');margin:0px; }
#container { margin-left: auto;margin-right: auto; width:750px;}
#header { background-image: url('/Spruce/Assets/Images/headerbg.png');overflow:auto; }
#logocontainer { float:left;margin-top:15px;margin-left:0px }

#headertop { color:White;width:100%;}
#loggedInAs { font-size:0.8em;font-family:Arial;color:#FFF;padding:5px;margin:2px;float:right; }
    
a { color:#333333; }

/* Settings windows */
#settingscontainer { padding: 20px;color:White; }
#settingscontainer h1 { font-size:2.2em;color:White;margin-bottom:20px;}
#settingscontainer h2 { font-size:1.2em;color:White;margin:10px 0px;border-bottom:1px solid #555;}
.settingsitem { clear:both;overflow:auto; }
.settingslabel { float:left;font-size:1.2em;color:#EFEFEF;width:80px;line-height:40px;}
.settingsfield { float:left;color:White;font-size:1.2em;line-height:40px;}
.settingsfield select,.settingsfield option { color:black;line-height:0px;}
#button-savesettings { width:150px;font-family:Arial,helvetica;font-weight:bold;font-size:1.5em;float:right;margin:10px; }

.tooltip {
	display:none;
	background: white;
	border: solid 1px black;
	font-size:12px;
	height:25px;
	width:120px;
	padding:5px;
	color:#000;	
}

.simple_overlay {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:#333;
	
	width:675px;	
	min-height:200px;
	border:1px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url('/Spruce/Assets/Images/close.png');
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

/* Navigation buttons */
#navcontainer { margin-top:25px;float:right;}    
#nav ul { list-style :none; margin:0;padding:0;list-style-type:none;}
#nav li { float:left;margin:5px;display:inline;list-style-type:none;width:100px; background-color:#333333;border: solid 1px #3671a1;-moz-border-radius: 4px;border-radius:4px;}
#nav a { text-align:center;display:block;padding:5px; font-family:Arial,helvetica;font-weight:bold;font-size:0.8em; color:#FFF;text-decoration:none;}
#nav li:hover { background-color:#3671a1; }
#nav .selected { background-color:#3671a1; }

/* Default dataTable plugin styles */
.dataTables_wrapper 
{
	clear: both;
	min-height: 302px;
	position: relative;
	zoom: 1;
}
.dataTables_length { float:left;width:40%;}
.dataTables_filter { float:right;width:50%;text-align: right; }
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	float: left;
	height: 19px;
	margin-left: 3px;
	width: 19px;
}
.dataTables_paginate {
	float: right;
	text-align: right;
	width: 44px;
}
.paginate_disabled_previous { background-image: url('/Spruce/Assets/Images/back_disabled.jpg');}
.paginate_enabled_previous { background-image: url('/Spruce/Assets/Images/back_enabled.jpg');}
.paginate_disabled_next { background-image: url('/Spruce/Assets/Images/forward_disabled.jpg');}
.paginate_enabled_next { background-image: url('/Spruce/Assets/Images/forward_enabled.jpg');}

/* Tables */
#workitems { clear:both;width:750px;border: solid 1px #3671a1;background-color: #FFF;border-collapse: collapse;margin:10px 0; }  
#workitems thead th { background-color: #333333;font-family:Arial,helvetica;font-size:1.2em;padding:10px;font-weight:bold;color: #FFF;text-align:left;}
#workitems tbody td { color: #000;font-family:Calibri,helvetica;font-size:1.2em;padding:10px;text-align:left; }
    
#newitem-container {font-family:Arial,helvetica;font-size:10pt;margin-top:10px;}
#newitem-textbox {display:none;}

/* Tasks */
#taskscontainer { width:1000px;}
#task { background-image: url('/Spruce/Assets/Images/stickynote-large.png');width:185px;height:188px;padding:20px;float:left; }
#task h1 { font-size:1.2em; }
#task a { text-decoration:none; }
#task a:hover { color:#ABABAB; }
#task h2 { font-size:1em; }
#task h2 { font-size:1em; }

/* View item */
h1 { color: #333333; font-family:Calibri,helvetica;font-size:24pt; margin:0px; } 
h2 { color: #4582b5;font-family:Calibri,helvetica;font-size:12pt;margin:0px; }
p,div { color: #000;font-family:Calibri,helvetica;font-size:10pt; }
    
#itemcontainer { width:750px;border:solid 1px #3671a1;background-color: #FFF;}  
#item { padding: 10px;}
    
#favouritebar { margin-left:10px;margin-right:10px;margin-bottom:5px; }     
#date { color: #ABABAB;font-size:8pt;font-family:Calibri,helvetica;float:left; }
    
#actionbar {  background-color: #333333;padding:10px;color: #FFF; }   
#actionbar a { font-family:Calibri,helvetica;font-size:10pt;font-weight:bold;color: #FFF; }  

/* Edit item */
.title { margin-top:10px; border: 1px solid #DEDEDE; color: #333333; font-family:Arial,helvetica;font-size:24pt; margin:0px;width:100%;  }
.description { margin-top:10px; border: 1px solid #DEDEDE; color: #000;font-family:Arial,helvetica;font-size:10pt;width:100%;height:150px; }
.button { font-family:Arial,helvetica;font-size:12pt; }    
select { margin-top:10px; border: 1px solid #DEDEDE; }
